<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.peach.dao.AppointmentMapper">
    <resultMap  id="BaseResultMap" type="com.example.peach.pojo.Appointment" >
        <id column="id" property="id"/>
        <result column="user_id" property="userid"/>
        <result column="number" property="number"/>
        <result column="createtime" property="createTime"/>
        <result column="note" property="note"/>
        <collection property="list" ofType="com.example.peach.pojo.User">
            <id column="id" property="id" jdbcType="INTEGER" />
            <result column="user_nickname" property="userNickname" jdbcType="VARCHAR" />
            <result column="user_realname" property="userRealname" jdbcType="VARCHAR" />
            <result column="user_sex" property="userSex" jdbcType="BIT" />
            <result column="user_phone" property="userPhone" jdbcType="INTEGER" />
            <result column="user_birthday" property="userBirthday" jdbcType="DATE" />
            <result column="user_address" property="userAddress" jdbcType="VARCHAR" />
            <result column="user_autograph" property="userAutograph" jdbcType="VARCHAR" />
            <result column="user_occupation" property="userOccupation" jdbcType="VARCHAR" />
            <result column="is_marriage" property="isMarriage" jdbcType="BIT" />
            <result column="user_height" property="userHeight" jdbcType="INTEGER" />
            <result column="user_education" property="userEducation" jdbcType="VARCHAR" />
            <result column="user_salary" property="userSalary" jdbcType="VARCHAR" />
            <result column="user_interest" property="userInterest" jdbcType="VARCHAR" />
            <result column="user_jurisdiction" property="userJurisdiction" jdbcType="INTEGER" />
            <result column="user_idcard" property="userIdcard" jdbcType="CHAR" />
            <result column="headimgurl" property="headimgurl" jdbcType="VARCHAR" />
            <result column="user_integral" property="userIntegral" jdbcType="INTEGER" />
            <result column="is_realname" property="isRealname" jdbcType="BIT" />
            <result column="openid" property="openid" jdbcType="VARCHAR" />
            <result column="user_native" property="userNative" jdbcType="VARCHAR" />
            <result column="unionid" property="unionid" jdbcType="VARCHAR" />
            <result column="province" property="province" jdbcType="VARCHAR" />
            <result column="city" property="city" jdbcType="VARCHAR" />
            <result column="country" property="country" jdbcType="VARCHAR" />
        </collection>

    </resultMap>

    <!--查询自己约见的对象-->
    <select id="selectByMyId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--SELECT a.myid,u.user_realname,u.id
            FROM  appointment a JOIN user u ON a.youid=u.id
            WHERE a.myid= #{myid}-->
        SELECT u.id,u.user_realname
        FROM user u
        WHERE id in(SELECT youid FROM appointment WHERE myid=  #{myid} )
    </select>

    <!--查询约见自己的对象-->
    <select id="selectByYouId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--SELECT a.youid,u.user_realname,u.id
        FROM  appointment a JOIN user u ON a.myid=u.id
        WHERE a.youid=1-->
        SELECT u.id,u.user_realname
        FROM user u
        WHERE id in(SELECT myid FROM appointment WHERE youid= #{youid} )
    </select>

    <!--查询相互心仪的对象-->
    <!--<select id="selectAll"  resultType="com.example.peach.pojo.Appointment">-->
        <!--SELECT	u.id,u.user_realname,f.myid,f.youid-->
        <!--FROM user u-->
        <!--JOIN favorite f ON u.id=f.myid-->
        <!--JOIN favorite a ON u.id=a.youid-->
        <!--WHERE f.youid=a.myid AND a.youid=f.myid-->
    <!--</select>-->



    <!--查询是否已有约见计划-->
    <select id="selectAppointment" parameterType="com.example.peach.pojo.Appointment" resultType="com.example.peach.pojo.Appointment">
        SELECT	a.id
        FROM appointment a
        WHERE (a.myid= #{myid} AND a.youid= #{youid} ) OR (a.myid=#{youid} AND a.youid=#{myid} )
    </select>

    <!--添加约见对象-->
    <insert id="insertAppointment" parameterType="java.lang.Integer">
        INSERT INTO appointment(myid,youid,status)
        VALUES( #{myid} , #{youid} , 0 )
    </insert>

    <!--拒绝约见-->
    <update id="updateStatus1" parameterType="com.example.peach.pojo.Appointment" >
          UPDATE appointment  SET status= 1 WHERE myid= #{youid} AND youid= #{myid}
    </update>

    <!--同意约见-->
    <update id="updateStatus2" parameterType="com.example.peach.pojo.Appointment" >
        UPDATE appointment  SET status= 2 WHERE myid= #{youid} AND youid= #{myid}
    </update>

</mapper>