<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.peach.dao.FavoriteMapper">
         <resultMap  id="BaseResultMap" type="com.example.peach.pojo.Favorite" >
             <id column="id" property="id"/>
             <result column="user_id" property="userid"/>
             <result column="number" property="number"/>
             <result column="createtime" property="createTime"/>
             <result column="note" property="note"/>
             <collection property="list" ofType="com.example.peach.pojo.User">
                 <id column="id" property="id" jdbcType="INTEGER" />
                 <result column="user_nickname" property="userNickname" jdbcType="VARCHAR" />
                 <result column="user_realname" property="userRealname" jdbcType="VARCHAR" />
                 <result column="user_sex" property="userSex" jdbcType="BIT" />
                 <result column="user_phone" property="userPhone" jdbcType="INTEGER" />
                 <result column="user_birthday" property="userBirthday" jdbcType="DATE" />
                 <result column="user_address" property="userAddress" jdbcType="VARCHAR" />
                 <result column="user_autograph" property="userAutograph" jdbcType="VARCHAR" />
                 <result column="user_occupation" property="userOccupation" jdbcType="VARCHAR" />
                 <result column="is_marriage" property="isMarriage" jdbcType="BIT" />
                 <result column="user_height" property="userHeight" jdbcType="INTEGER" />
                 <result column="user_education" property="userEducation" jdbcType="VARCHAR" />
                 <result column="user_salary" property="userSalary" jdbcType="VARCHAR" />
                 <result column="user_interest" property="userInterest" jdbcType="VARCHAR" />
                 <result column="user_jurisdiction" property="userJurisdiction" jdbcType="INTEGER" />
                 <result column="user_idcard" property="userIdcard" jdbcType="CHAR" />
                 <result column="headimgurl" property="headimgurl" jdbcType="VARCHAR" />
                 <result column="user_integral" property="userIntegral" jdbcType="INTEGER" />
                 <result column="is_realname" property="isRealname" jdbcType="BIT" />
                 <result column="openid" property="openid" jdbcType="VARCHAR" />
                 <result column="user_native" property="userNative" jdbcType="VARCHAR" />
                 <result column="unionid" property="unionid" jdbcType="VARCHAR" />
                 <result column="province" property="province" jdbcType="VARCHAR" />
                 <result column="city" property="city" jdbcType="VARCHAR" />
                 <result column="country" property="country" jdbcType="VARCHAR" />
             </collection>

         </resultMap>

    <!--查询自己的心仪对象-->
    <select id="selectByMyId" parameterType="int" resultMap="BaseResultMap">
        <!--SELECT f.myid,u.user_realname,u.id
            FROM  favorite f JOIN user u ON f.youid=u.id
            WHERE f.myid= #{myid}-->
        SELECT u.id,u.user_realname
        FROM user u
        WHERE id in(SELECT youid FROM favorite WHERE myid= #{myid} )
    </select>

    <!--查询心仪自己的对象-->
    <select id="selectByYouId" parameterType="int" resultType="com.example.peach.pojo.Favorite">
        <!--SELECT f.youid,u.user_realname,u.id
        FROM  favorite f JOIN user u ON f.myid=u.id
        WHERE f.youid=1-->
        SELECT u.id,u.user_realname
        FROM user u
        WHERE id in(SELECT myid FROM favorite WHERE youid= #{youid} )
    </select>

    <!--查询相互心仪的对象-->
    <select id="selectAll" parameterType="int" resultType="com.example.peach.pojo.Favorite">
        SELECT	u.id,u.user_realname,f.myid,f.youid
        FROM user u
				JOIN favorite f ON u.id=f.myid
				JOIN favorite a ON u.id=a.youid
        WHERE f.youid=a.myid AND a.youid=f.myid
    </select>

    <!--查询是否重复的对象-->
    <select id="selectFavorite" parameterType="com.example.peach.pojo.Favorite" resultType="com.example.peach.pojo.Favorite">
        SELECT	f.id
        FROM favorite f
        WHERE f.myid= #{myid} AND f.youid= #{youid}
    </select>

    <!--添加心仪对象-->
    <insert id="insertFavorite" parameterType="com.example.peach.pojo.Favorite">
        INSERT INTO favorite(myid,youid)
        VALUES( #{myid} , #{youid} )
    </insert>

    <!--删除心仪对象-->
    <delete id="deleteFavorite" parameterType="com.example.peach.pojo.Favorite">
        DELETE FROM favorite
        WHERE myid= #{myid} AND youid= #{youid}
    </delete>

</mapper>