<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.peach.dao.InterestMapper">


    <!--查询-->
    <select id="selectById"  parameterType="int" resultType="com.example.peach.pojo.Interest">
        SELECT category
        FROM interest
        WHERE id = #{id}
    </select>


    <!--修改-->
    <update id="updateInterest" parameterType="com.example.peach.pojo.Interest" >
        UPDATE interest SET category= #{interest} WHERE id= #{id}
    </update>


    <insert id="insertInterest" parameterType="com.example.peach.pojo.Interest" >
        INSERT INTO interest(name,category) VALUES( #{name} , #{category} )
    </insert>

</mapper>
