<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.peach.dao.MateMapper">
    <resultMap id="BaseMapper" type="com.example.peach.pojo.Mate">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="mate_age" jdbcType="VARCHAR" property="mateAge"/>
        <result column="mate_height" jdbcType="VARCHAR" property="mateHeight"/>
        <result column="mate_salary" jdbcType="VARCHAR" property="mateSalary"/>
        <result column="mate_education" jdbcType="VARCHAR" property="mateEducation"/>
        <result column="mate_native" jdbcType="VARCHAR" property="mateNative"/>
        <result column="mate_marriage" jdbcType="VARCHAR" property="mateMarriage"/>
        <result column="mate_belief" jdbcType="VARCHAR" property="mateBelief"/>
        <result column="mate_drink" jdbcType="VARCHAR" property="mateDrink"/>
        <result column="mate_smoking" jdbcType="VARCHAR" property="mateSmoking"/>
        <result column="is_children" jdbcType="VARCHAR" property="isChildren"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
    </resultMap>
    <sql id="Base_Column_List">
            id,mate_age,mate_height,mate_salary,mate_education,mate_native,mate_marriage,
            mate_belief,mate_drink,mate_smoking,is_children,user_id
        </sql>
    <select id="selectByuserId" parameterType="java.lang.Integer" resultMap="BaseMapper">
    SELECT
    <include refid="Base_Column_List"/>
    FROM mate
    WHERE user_id=#{userId,jdbcType=INTEGER}
</select>
    <insert id="insertMate" parameterType="Mate">
            INSERT INTO mate (mate_age,mate_height,mate_salary,mate_education,
            mate_native,mate_marriage,mate_belief,mate_drink,mate_smoking,is_children,user_id)
            VALUES(#{mateAge,jdbcType=VARCHAR},#{mateHeight,jdbcType=VARCHAR},#{mateSalary,jdbcType=VARCHAR},
                  #{mateEducation,jdbcType=VARCHAR},#{mateNative,jdbcType=VARCHAR},
                  #{mateMarriage,jdbcType=VARCHAR},#{mateBelief,jdbcType=VARCHAR},#{mateDrink,jdbcType=VARCHAR},
                  #{mateSmoking,jdbcType=VARCHAR},#{isChildren,jdbcType=VARCHAR},#{userId,jdbcType=INTEGER})
        </insert>
    <update id="updateMate" parameterType="Mate">
        UPDATE mate
          <set>
              <if test="mateAge != null">
                  mate_age = #{mateAge,jdbcType=VARCHAR},
              </if>
              <if test="mateHeight != null">
                  mate_height = #{mateHeight,jdbcType=VARCHAR},
              </if>
              <if test="mateSalary != null">
                  mate_salary = #{mateSalary,jdbcType=VARCHAR},
              </if>
              <if test="mateEducation != null">
                  mate_education = #{mateEducation,jdbcType=VARCHAR},
              </if>
              <if test="mateNative != null">
                  mate_native = #{mateNative,jdbcType=VARCHAR},
              </if>
              <if test="mateMarriage != null">
                  mate_marriage = #{mateMarriage,jdbcType=VARCHAR},
              </if>
              <if test="mateBelief != null">
                  mate_belief = #{mateBelief,jdbcType=VARCHAR},
              </if>
              <if test="mateDrink != null">
                  mate_drink = #{mateDrink,jdbcType=VARCHAR},
              </if>
              <if test="mateSmoking != null">
                  mate_smoking = #{mateSmoking,jdbcType=VARCHAR},
              </if>
              <if test="isChildren != null">
                  is_children = #{isChildren,jdbcType=VARCHAR},
              </if>
              <!--<if test="userId != null">-->
                  <!--user_id = #{userId,jdbcType=INTEGER},-->
              <!--</if>-->
          </set>
        WHERE user_id=#{userId,jdbcType=INTEGER}
    </update>

</mapper>